* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
}

h1 {
  background-color: bisque;
  padding: 20px;
  font-size: 42px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  li {
    list-style: none;
    a {
      color: coral;
      text-decoration: none;
      font-size: x-large;
    }
  }
}
